	body { margin: 0; padding: 0; min-width: 1000px; font: 12px arial, helvetica, sans-serif; color: #333; }
	img { border: 0; }
	a { color: inherit; text-decoration: underline; }
	a:hover { text-decoration: none; }

	h1 { font-weight: normal; font-size: 36px; font-family: Arial, Helvetica, sans-serif; color: #666; margin: 0; padding: 0; }
	h1 div.superhead { font-size: 12px; color: #888; font-weight: bold; margin: 0; padding: 0; }

	h2 { font-size: 24px; color: #333; margin: 0; padding: 0; }
	h2 a { text-decoration: none; }
	h2 a:hover { text-decoration: underline; }

	h3 { color: #666; padding: 0; margin: 0; font-size: 10px; font-weight: normal; font-family: verdana, arial, helvetica, sans-serif; }

	h4 { color: #444; font-size: 16px; }

	textarea { font-family: 'Lucida Console', 'Courier New', 'Courier', monospaced; font-size: 11px; } 

	.instructions { font-style: italic; color: #666; }
	.hint { font-size: 11px; color: #777; margin: 4px 0;}
	.meta { font-style: italic; color: #777; font-size: 11px; }

	div.form { }
		div.form h1 { margin-left: 180px; }
		div.form div.mainForm { margin-left: 180px; float: left; width: 500px; border: 0 solid #ccc; padding: 0 16px 0 0; border-width: 0 4px 0 0;}
		div.form div.mainForm div.subsection { background-color: #efe; padding: 10px; margin-top: 12px; position: relative; left: -10px; }
		div.form div.sidebar { margin-left: 30px; float: left; }

	div.renderForForm { padding: 4px 0 4px 0; overflow: auto; height: 100%; }
		div.renderForForm div.left { float: left; width: 120px; margin-right: 10px; padding-top: 2px; }
		div.renderForForm div.required { font-weight: bold; }

		div.renderForForm div.right { float: left; }
		div.renderForForm div.right span.error { margin-left: 15px; font: 10px 'Arial', 'Helvetica'; color: #966; font-style: italic; }
		
		div.renderForForm input { padding: 0; margin: 0; }
		div.renderForForm div.right span.instructions { font: 10px 'Arial', 'Helvetica'; color: #666; font-style: italic; text-transform: none;}
		div.renderForForm span.forCheckbox { position: relative; top: -2px; font-style: normal; }

	div.renderForDialog { margin-bottom: 12px; }
		div.renderForDialog div.label { font-size: 10px; margin-bottom: 1px; }
		div.renderForDialog div.required { font-weight: bold; text-transform: uppercase; }

		div.renderForDialog div.control { }
		div.renderForDialog div.control span.error { font: 10px 'Arial', 'Helvetica'; color: #966; font-style: italic; }
		
		div.renderForDialog input { padding: 0; margin: 0; }
		div.renderForDialog div.control span.instructions { font: 10px 'Arial', 'Helvetica'; color: #666; font-style: italic; text-transform: none;}
		div.renderForDialog span.forCheckbox { position: relative; top: -2px; font-style: normal; }

	div.renderForDialog span.warning { font: 10px 'Arial', 'Helvetica'; color: #966; font-style: italic; }

	div#navbar { height: 55px; background-color: #333333; border-bottom: 1px solid #161616; font: 12px verdana, arial, helvetica, sans-serif; }
		div#navbar div.line { float: right; width: 1px; overflow: hidden; }
		div#navbar div.links { float: right; margin-bottom: -2px; }
		div#navbar div.links img {border-left: 1px solid #161616;}
		div#navbar div.title {float: none; font-size: 32px; padding-top: 12px; height: 55px; _height: 43px; background: url(/images/gen/logo.jpg) no-repeat #161616; overflow: hidden; }
		div#navbar div.title a { text-decoration: none; display: block; height: 55px; _height: 43px;}

	div#subnav { height: 18px; background-color: #2d2d2d; font: 12px verdana, arial, helvetica, sans-serif;}
		div#subnav div.left { float: none; height: 18px; background: url(/images/gen/subnav_background.jpg); overflow: hidden;}
		div#subnav div.left a { color: #fff; font-weight: normal;}
		div#subnav div.right { float: right; height: 18px; background: url(/images/gen/subnav_padding.jpg);}
		div#subnav div.links { float: right; }
		div#subnav div.links img {border-left: 1px solid #161616;}
		div#subnav div.line { float: right; width: 1px; overflow: hidden; background-color: #161616; height: 18px;}

	div#middle { background-color: #fff; border-top: 1px solid #0e0e0e; border-bottom: 1px solid #161616; width: 100%; overflow: auto; min-width: 1020px;}
	div#middle { position: absolute; bottom: 29px; top: 74px; _height: 5px; }
		div#middle div#content { background-color: #fff; width: 990px; margin-left: auto; margin-right: auto; border-width: 0 2px 0 2px; border-color: #fff; border-style: solid; padding: 20px 5px 20px 5px; margin-top: auto; margin-bottom: auto; }
	div#bottom { height: 28px; background-color: #333333; border-top: 1px solid #3f3f3f; position: absolute; bottom: 0; width: 100%; background: url(/images/gen/bottom.jpg) repeat;}
		div#bottom a { color: #fff; text-decoration: none; }
		div#bottom a:hover { text-decoration: underline; }
		div#bottom div.left { background: url(/images/gen/bottom_copyright.jpg); height: 26px; width: 500px; }
		div#bottom div.left div { display: none; margin-top: 2px; margin-left: 8px; overflow: hidden; }
		div#bottom div.right { float: right; background: url(/images/gen/bottom_sdg.jpg); height: 28px; width: 200px; }
		div#bottom div.right div { display: none; float: right; margin-top: 7px; margin-right: 8px; }
		div#bottom div.hover { background-image: none; }
		div#bottom div.hover div { font: 10px arial; color: #fff; display: block;}




	/* RoundedLinkButton */
	div.roundedLink a { -moz-border-radius: 7px; padding: 1px 12px 1px 12px; border: 0; color: #fff; font-weight: bold; background-color: #335; text-decoration: none; float: left; }
	div.roundedLink a:hover { background-color: #aba; color: #363; }
	div.roundedLinkGray a { background-color: #d3d3d3; color: #666; }

	div.searchOption a { -moz-border-radius: 8px; padding: 0px 14px 0px 14px; border: 1px solid #000; color: #000; font-size: 10px; background-color: #555; text-decoration: none; }
	div.searchOption a:hover { color: #333; background-color: #ddd; border-color: #aaa; }
	div.searchOptionActive a { font-weight: bold; color: #060; background-color: #aba; border-color: #000; }
	div.searchOptionActive a { font-weight: bold; color: #fff; background-color: #559; border-color: #226; }



	/* QDialogBox */
	div.dialogbox { border: 4px solid #333; background-color: #fff; padding: 20px; width: 400px; overflow: auto; }


/* ISSUES */
	div.issueLeftColumn { float: left; width: 230px; }
		div.issueLeftColumn div.roundedLink { margin-left: 53px; }
		div.issueLeftColumn div.roundedLink a { width: 110px; text-align: center; }
		
	div.issueNotice { background-color: #fee; font-size: 14px; padding: 5px 10px; color: #933; border-style: solid; border-color: #933; border-width: 0 1px 1px 1px; width: 712px; float: right; font-weight: bold; }
		div.issueNotice a { font-weight: normal; color: #666; font-size: 11px; position: relative; left: 10px;}

	div.issuePanelTitle { width: 220px; height: 13px; background-color: #666; border: 1px solid #666; padding: 1px 5px; font-size: 12px; color: #fff; font-weight: bold;}
		div.issuePanelTitle div.left { float: left; }
		div.issuePanelTitle div.right { float: right; font-size: 10px; font-weight: normal;}

	div.issuePanelBody { width: 220px; background-color: #eee; border: 1px solid #666; padding: 5px; font-size: 11px; margin-bottom: 12px; overflow: auto; }
		div.issuePanelBody div.issuePanelField { height: 100%; clear: both; _zoom: 1; }
		div.issuePanelBody div.issuePanelField:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
			div.issuePanelBody div.issuePanelField div.left { float: left; width: 65px;}
			div.issuePanelBody div.issuePanelField div.right { float: left; font-weight: bold; width: 140px; }
		div.issuePanelBody pre { width: 200px; padding: 0; margin: 0;}

	div.dtrPersonSelectorResults { border: 1px solid #000; height: 150px; overflow: auto; }
	div.dtrPersonSelectorResults div { padding: 2px; }
	div.dtrPersonSelectorResults div.hover { cursor: pointer; background-color: #aba; }

	div.dtrVotes { border: 1px solid #aba; overflow: auto; padding: 2px; background-color: #efe;}
	div.dtrVotes div { color: #444; }
	div.pnlVotes div div.roundedLink { margin-left: 58px; }
	div.pnlVotes div div.roundedLink a { width: 90px; text-align: center; font-size: 10px; }
	
	div.dlgZoom { width: 660px; }
	div.pnlZoomCode { overflow: auto; width: 640px; height: 400px; border: 1px solid #000; margin: 14px 0; padding: 0 8px; font-family: 'Lucida Console', 'Courier New', 'Courier', monospaced; font-size: 11px; }

/* WIKI */
		div.wiki { float: left; }

		div.wikiNotice { padding: 4px 0 4px 14px; margin: 0 0 0 0; border-bottom: 1px solid #686; background-color: #aba; font-size: 10px; font-weight: normal; font-family: verdana, arial, helvetica, sans-serif; }

		div.wikiVersions { float: right; width: 220px; background-color: #aba; padding: 5px; font-size: 10px; font-weight: normal; font-family: verdana, arial, helvetica, sans-serif; }
		div.wikiVersions div.heading { font-size: 12px; margin: 0; padding: 2px 0 6px 4px; font-weight: bold; border-bottom: 1px solid #686; margin-bottom: 10px;}
		div.wikiVersions div.wikiVersion { font-style: normal; font-weight: normal; padding: 4px; }
			div.wikiVersions div.wikiVersion a { text-decoration: none; }
			div.wikiVersions div.selected { background-color: #efe; font-weight: bold; }

		div.wikiThumb { width: 240px; border: 1px solid #666; margin-bottom: 12px; text-align: center; padding: 0; }
		div.wikiThumb a { display: block; }
		div.wikiThumbLeft { float: left; margin-right: 10px; clear: left; }
		div.wikiThumbRight { float: right; margin-left: 10px; clear: right; }

/* FORUMS */
		div.searchBar { background-color: #393939; -moz-border-radius: 8px 8px 0 0; height: 22px; padding: 4px 14px 0 14px; border: 1px solid #222; }
		div.searchBar div.title { float: left; font-family: arial; font-size: 16px; font-weight: bold; color: #efe; }
		div.searchBar div.title span.subtitle { font-weight: normal; font-size: 12px }

		div.searchBar div.right { float: right; padding-top: 1px; margin-left: 10px;}

		div.searchBar div.issue { font-size: 11px; color: #ddd; font-weight: bold; }
		div.searchBar div.wiki { font-size: 10px; color: #aaa; font-weight: normal; }
		input.searchIssueTextBox { border: 0; background-color: #ddd; width: 50px; font-size: 10px; padding: 1px 2px; }
		div.searchTextBox { width: 196px; height: 16px; padding: 0 0 0 4px; margin: 0; font-size: 1px; -moz-border-radius: 7px; background-color: #eee; }
			div.searchTextBox img { position: relative; top: 2px; border: 0; }
			div.searchTextBox input { background-color: #eee; border: 0; height: 14px; width: 165px; padding: 1px 0 0 0; font: 12px arial; font-weight: bold; color: #333; margin: 0 3px 0 3px;}
			div.searchTextBox input.none { background: url(/images/search_blank.png) no-repeat; }

	div.toolbar { background: url(/images/gen/bottom.jpg) repeat; font-size: 10px; color: #fff; height: 22px; padding-top: 6px;}
	h2 div.right { float: right; font-size: 10px; font-weight: normal; padding-top: 4px; }
		h2 div.right input { font-size:10px; border: 1px solid #aaa; padding-left: 2px;}
		h2 div.right select { font-size:10px; border: 1px solid #aaa; }

	div#dtrForums { overflow: auto; _height: 100%; }
	div.forum { margin: 10px 20px 10px 20px; float: left; width: 400px; border: 1px solid #485; background-color: #dfd; }
		div.forum div.name { font-weight: bold; padding: 2px 0 2px 4px; font-size: 12px; background-color: #8b8; }
		div.forum p.description { padding: 5px;  margin: 0; font-size: 12px; height: 36px; }
		div.forum div.stats { padding: 1px 5px 2px 5px; font: 10px 'arial','helvetica'; color: #555; overflow: auto; border-top: 1px solid #485; }
			div.forum div.left {float: left;}
			div.forum div.right {float: right;}
			div.forum div.stats span { margin-left: 20px; }
			div.forum div.stats strong { color: #333; }
		div.forum div a { color: #000; text-decoration: none; }
	div.hover { cursor: pointer; background-color: #ddf; border-color: #337;}
		div.hover div.name { background-color: #337; }
		div.hover div a { color: #fff; }
		div.hover div.stats { border-top: 1px solid #337; }
		div.hover p.description { color: #337;}

/* FORUM TOPICS */

		div.topicsShell { float: left; }

		div.topicsBorder { width: 230px; }
			div.topicsBorder div { height: 1px; background-color: #aba; border-color: #dfd; border-style: solid; border-width: 0 1px 0 1px; }
			div.topicsBorder div.a { width: 220px; margin-left: 4px; }
			div.topicsBorder div.b { width: 224px; margin-left: 2px; }
			div.topicsBorder div.c { width: 226px; margin-left: 1px; }
			div.topicsBorder div.d { width: 228px; margin-left: 1px; border-width: 0; }
			div.topicsBorder div.e { width: 228px; margin-left: 0; }

		div.topics { width: 220px; border: 5px solid #aba; font: 12px Verdana, Arial, Helvetica; }
			div.topics div.name { background-color: #aba; font-size: 12px; font-weight: bold; padding: 0 10px 0 10px; color: #343; position: relative; top: -5px; height: 20px;}
			div.topics div.description { padding: 5px 10px 5px 10px; font: 11px arial; font-style: italic; color: #666; }
			div.topics div.paginator { font-size: 10px; font-family: arial; background-color: #eee; padding: 2px 0 2px 8px; border-top: 1px solid #ccc; margin-top: 4px; }
			span.paginatorThin { margin: 0; padding: 0; }

			div.topics div.item { border-top: 1px dotted #bbb; font-size: 10px; height: 20px; font-family: verdana; }
				div.topics div.item a { display: block; color: #000; text-decoration: none; padding: 3px 10px 3px 10px; height: 14px;}
				div.topics div.item a:hover { background-color: #aba; color: #335;}
				div.topics div.selected a { background-color: #335; color: #fff; }
					div.topics div.item a div.title { float: left; width: 180px; height: 14px; overflow: hidden; }
					div.topics div.item a div.count { float: right; width: 20px; text-align: right; height: 14px; overflow: hidden; font-family: arial, helvetica; font-size: 10px; font-style: italic; font-weight: bold; color: #999; }
				div.topics div.unviewed a { font-weight: bold; }
				div.topics div.notify a { font-style: italic; }

		div.topic { float: left; margin-top: 12px; margin-left: 25px; width: 735px;}
			div.topicForWiki { margin-left: 0px; padding: 12px 127px 12px 128px; float: none; background-color: #eee; border-top: 1px solid #666;}
			div.topicForPackage { margin-left: 0px; padding: 12px 127px 12px 128px; float: none; background-color: #eee; border-top: 1px solid #666;}
			div.topic h1 { color: #333; }
			div.topic h2 { color: #666; margin: 0; font-size: 16px; padding: 15px; background-color: inherit; text-align: center; border: 1px solid #999; background-color: #ddd; }

			span.paginator { margin: 0; padding: 0; }
				span.paginator span { list-style-type:none; display: inline; padding: 0; margin: 0; }
					span.paginator span.page a { text-decoration: none; color: #444; padding: 0 3px 0 3px; margin: 0 2px 0 2px;}
					span.paginator span.page a:hover { text-decoration: underline; color: #000; }
					span.paginator span.arrow { font-weight: bold; color: #ccc; margin: 0; padding: 0 3px 0 3px; }
					span.paginator span.arrow a { font-weight: bold; color: #444; text-decoration: none; }
					span.paginator span.arrow a:hover { text-decoration: underline; color: #000; }
					span.paginator span.selected { font-weight: bold; background-color: #cb9; padding: 0 3px 0 3px; margin: 0 2px 0 2px; border: 1px; border-style: solid; }
					span.paginator span.break { color: #666; margin: 0 5px 0 5px; }
					span.paginator span.ellipsis { color: #666; }

			span.paginatorTextbox { margin: 0; padding: 0; }
				span.paginatorTextbox span { list-style-type:none; display: inline; padding: 0; margin: 0; }
					span.paginatorTextbox span.page a { text-decoration: none; color: #444; padding: 0 3px 0 3px; margin: 0 2px 0 2px;}
					span.paginatorTextbox span.page a:hover { text-decoration: underline; color: #000; }
					span.paginatorTextbox span.arrow { font-weight: bold; color: #ccc; margin: 0; padding: 0 3px 0 3px; }
					span.paginatorTextbox span.arrow a { font-weight: bold; color: #444; text-decoration: none; }
					span.paginatorTextbox span.arrow a:hover { text-decoration: underline; color: #000; }
					span.paginatorTextbox span.selected { font-weight: bold; background-color: #ccf; padding: 0 3px 0 3px; margin: 0 2px 0 2px; border: 1px; border-style: solid; }
					span.paginatorTextbox span.break { color: #666; margin: 0 5px 0 5px; }
					span.paginatorTextbox span.ellipsis { color: #666; }

		div.controlBar { font: 10px arial, helvetica; margin-top: 15px; height: 15px; }
		div.controlBar div.controls { float: left; width: 350px; }
			div.controlBar div.controls div.spacer { float: left; margin-left: 8px; width: 0px; }				
			div.controlBar div.paginator { float: right; margin-top: 1px; }


		input.forumTopicName { background-color: #efe; width: 400px; border: 1px solid #aba; padding: 2px;}
		textarea.forumMessage { background-color:#efe; font-family: 'Lucida Console' 'Courier New' 'Courier' 'monospaced'; font-size: 11px; width: 400px; height: 200px; border: 1px solid #aba; }
		.forum_code { background-color: #ddddff; padding: 10px; margin-left: 20px; font-family: 'Lucida Console' 'Courier New' 'Courier' 'monospaced'; font-size: 11px; line-height: 13px; overflow: auto; width: auto;}

		div#dtrMessages { }
		div#dtrMessages div.messageBarRound { margin-top: 15px; }
		div#dtrMessages div.messageBarRound div { height: 1px; background-color: #aba; border-color: #dfd; border-style: solid; border-width: 0 1px 0 1px; }
		div#dtrMessages div.messageBarRound div.a { width: 725px; margin-left: 4px; }
		div#dtrMessages div.messageBarRound div.b { width: 729px; margin-left: 2px; }
		div#dtrMessages div.messageBarRound div.c { width: 731px; margin-left: 1px; }
		div#dtrMessages div.messageBarRound div.d { width: 733px; margin-left: 1px; border-width: 0; }
		div#dtrMessages div.messageBarRound div.e { width: 733px; margin-left: 0; }

		div#dtrMessages div.messageBar { background-color: #aba; height: 14px; padding: 0 10px 0 10px; }
		div#dtrMessages div.messageBar div.name { float: left; font-size: 11px; font-weight: bold; color: #343; height: 11px; position: relative; top: -3px; }
		div#dtrMessages div.messageBar div.name span.replyNumber { font-weight: normal; font-size: 10px; }
		div#dtrMessages div.messageBar div.date { float: right; font-size: 10px; font-weight: bold; font-family: arial, helvetica; color: #343; position: relative; top: -1px; }

		div#dtrMessages div.messageBody { background-color: #efe; width: 713px; padding: 10px; font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; overflow: auto; border: 1px solid #aba; }
		
		div#dtrMessages div.messageBarRoundAlternate div { background-color: #ba8; border-color: #fec;}
		div#dtrMessages div.messageBarAlternate { background-color: #ba8; }
		div#dtrMessages div.messageBarAlternate div.name { color: #484030; }
		div#dtrMessages div.messageBarAlternate div.date { color: #484030; }
		div#dtrMessages div.messageBodyAlternate { background-color: #ffe; border-color: #ba8;}

		
		
	/* QDataGrid */
	table.datagrid { border-style: solid; border-color: #ba8; border-width: 1px 1px 0 1px; }
		table.datagrid caption, table.datagrid tfoot { padding-bottom: 4px; overflow: auto; }
			table.datagrid span.left { float: left; font-size: 10px; display: block; }
			table.datagrid span.right { float: right; font-size: 10px; display: block; }
		table.datagrid tr { background-color: #fff; }
			table.datagrid tr.alternate { background-color: #f0ffee; }
		table.datagrid th { background-color: #ba8; padding: 3px 5px 3px 5px; text-align: left; }
			table.datagrid th a { color: #000; text-decoration: none; }
			table.datagrid th a:hover { color: #000; text-decoration: underline;}
		table.datagrid td { padding: 5px; border-bottom: 1px solid #ba8; }
			table.datagrid td a { color: #000; }
			table.datagrid td a:hover { color: #000; text-decoration: none; }
		table.datagrid tfoot { border-top: 1px solid #ba8;}

	table.datagrid tr:hover { background-color: #ded; }

	table.issuesDataGrid { font-size: 11px; }
		table.issuesDataGrid td { vertical-align: top; }
		table.datagrid td.small { font-size: 10px; }
		table.datagrid td.reverseLink a { text-decoration: none; }
		table.datagrid td.reverseLink a:hover { text-decoration: underline; }

	/* QCalendar */
	div.calendar { width: 200px; border: 1px solid #337; background-color: #ccf; }
		div.calendar div.navigator { background-color: #337; overflow: auto; _height: 100%; color: #fff; padding: 2px 6px 2px 6px; }
		div.calendar div.navigator div.left { float: left; }
		div.calendar div.navigator div.month { float: left; width: 80px; text-align: center; font-weight: bold; font-size: 11px; }
		div.calendar div.navigator div.year { float: right; }
		div.calendar div.navigator div.year span { font-size: 11px; font-weight: bold; margin-left: 6px; margin-right: 6px; }
			div.calendar div.navigator a { color: #fff; text-decoration: none; }
			div.calendar div.navigator a:hover { text-decoration: underline; }
		div.calendar table { border: 0; margin-left: auto; margin-right: auto;}
			div.calendar th { text-align: center; border: 0; padding: 4px 2px 4px 2px; font-weight: bold; font-size: 10px;}
			div.calendar td { text-align: center; border-width: 0 0 1px 0; border-style: solid; border-color: black; padding: 0;}
				div.calendar td.lastRow { border-width: 0;}
				div.calendar td a { text-decoration: none; color: #000; display: block; padding: 2px 6px 2px 6px; }
				div.calendar td.today { background-color: #bbd; }
				div.calendar td.nonMonth a { color: #aaf; }
				div.calendar td.selected { background-color: #c9a; font-weight: bold; }
				div.calendar td a:hover { background-color: #eef; color: #000; }
		div.calendar div.options { text-align: center; background-color: #337; }
			div.calendar div.options a { color: #fff; font-size: 10px; text-decoration: none;}
			div.calendar div.options a:hover { text-decoration: underline; }
